@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rajdhani", sans-serif;
}

:root {
    --cor-primaria: #A3CCAF;
    --cor-secundaria: #CC5B14;
    --cor-terciaria: #74B3A7;
    --cor-quaternaria: #E6E1CF;
    --cor-quinta: #666655;
    --cor-hover: #676761af;
    --cor--padrao: #ffffff;
}

main {
    display: flex;
    justify-content: center; 
    gap: 8rem;
    margin: 5rem 0; 
}


header {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--cor--padrao);
    background-color: var(--cor-secundaria);
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.scrollable-section {
    background-color: var(--cor-primaria);
    width: 50%;
    height: auto;
    max-height: 70rem;
    color: var(--cor--padrao);
    padding-top: 3rem;
    text-align: center;
    border-radius: 30px;
    overflow-y: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-items: center;
}
.card {
    background-color: var(--cor-quaternaria);
    width: 10rem;
    height: auto; 
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: var(--cor-terciaria);
    font-size: 0.8rem;
    display: flex;
}

.card p {
    padding: 0.3rem;
}

.card--img {
    width: 100%; 
    height: auto; 
}

.form--section{
    background-color: var(--cor-primaria);
    width: 20rem;
    height: auto;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    color: var(--cor--padrao);
    text-align: center;
    align-items: center;
    border-radius: 30px;
}

.formulario{
    margin-top: 3rem;
}

.formulario input {
    width: 90%;
    height: 2.5rem;
    border-radius: 30px;
    border-color: var(--cor-secundaria);
    padding: 0.5rem; 
    border-width: 2px; 
    border-style: solid; 
    border-color: var(--cor-secundaria); 
    color: var(--cor-secundaria);
    margin-bottom: 1rem;
    outline: none; 
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
}

.formulario input::placeholder {
    font-family: "Rajdhani", sans-serif; /* Define a fonte */
    color: var(--cor-terciaria); /* Define a cor */
}

button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    outline: none; 
    border: none;
}

button[type="guardar"] {
    background-color: var(--cor-secundaria);
    color: var(--cor--padrao);
}

button[type="limpar"] {
   border: 2px solid var(--cor-secundaria);
   color: var(--cor-secundaria);
}

button:hover{
    background-color: var(--cor-hover);
    border: none;
}

footer{
    background-color: var(--cor-secundaria);
    width: 100%;
    height: auto;
    text-align: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: var(--cor--padrao);
}

.rodape--dados{
    display: flex;
    justify-content: center;
    align-items: center;
}







